html {
	scroll-behavior: smooth;
}
body {
	font-family: "Lato", sans-serif;
	/* background-color: #f8f9fa!important; */
}

#myBtn {
	display: none;
	position: fixed;
	bottom: 50px;
	right: 30px;
	z-index: 99;
	border: none;
	outline: none;
	background-color: #80b918;
	stroke-width: 1;
	cursor: pointer;
	padding: 20px 25px;
	border-radius: 100px;
	box-shadow: 0px 3px 8px -2px #000;
  }

  #myBtn:hover {
	background-color: #FFBA08;
  }

.nav-link {
	font-weight: 600;
}

.navbar-light .navbar-toggler {
	border: none;
}

.navbar-light .navbar-toggler-icon {
	color: #80b918 !important;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {

  transition: all .5s;
}
nav ul li a:hover {
  color: white !important;
}

div.circle ul li a {
	position: relative;
	overflow: hidden;
	z-index: 1;
  }
  div.circle ul li a:after {
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '.';
	color: transparent;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background: #80b918;
  }
  div.circle ul li a:hover:after {
	-webkit-animation: circle 1.5s ease-in forwards;
  }

  /* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #80b918;
    border-radius: 100%;
  }
  100% {
    background: #80b918;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

/* Hero Section */
/* .wrapper {
	display: flex;
}

.wrapper .static-txt {
	font-size: 30px;
	color: black;
	font-weight: 600;
	line-height: 80px;
}

.wrapper .dynamic-txts {
	margin-left: 1px;
	line-height: 80px;
	height: 90px;
	overflow: hidden !important;
}

.dynamic-txts li{
	list-style: none;
	color: #ffbf69;
	font-size: 30px;
	font-weight: 600;
	top: 0;
	position: relative;
	animation: slide 20s steps(5)
	infinite;
}

@keyframes slide {
	100%  {
		top: -400px;
	}
}

.dynamic-txts li {
	position: relative;
}

.dynamic-txts li::after {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #f8f9fa;
	border-left: 2px solid #ffbf69;
	animation: typing 4s steps(10)
	infinite;
}

@keyframes typing {
	40%,
	60% {
		left: calc(100% + 30px);
	}
	100% {
		left: 0;
	}
}

.hero-image {
	align-items: center;
} */

.main-hero{
	background-color: #f8f9fa!important;
}
.hero-h1 {
	color: #101319;
	font-size: 40px;
	font-weight: 700;
}

.hero-image {
	width: 12vw;
}

.hero-subtext {
	font-weight: 500;
	margin: 1vw 19vw 2vw 0vw;
	font-size: 23px;
	margin-right: 12vw;
	color: #343a40;
	font-style: italic;
}
.hero-h1 span {
	color: #80b918!important;
	font-weight: 700;
}

.button {
	border-radius: 4px;
	background-color: #80b918;
	border: none;
	color: #fff;
	text-align: center;
	font-size: 18px;
	padding: 14px;
	width: fit-content;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }

  .button:after {
	content: '→';
	position: absolute;
	background-color: #80b918;
	opacity: 0;
	top: 14px;
	padding-right: 5px;
	right: 0px!important;
	transition: 0.5s;
  }

  .button:hover{
	padding-right: 24px;
	background-color: #80b918;
	padding-left:8px;
  }

  .button:hover:after {
	opacity: 1;
	right: 0px;
  }

  .reveal {
	position: relative;
	transform: rotateY('200px');
	opacity: 0;
	transition: all 1s ease-in;
  }

  .reveal.active {
	transform: translateY(20px);
	opacity: 1;
  }

.portfolio-section {
	background-image: url('/images/Frame\ 10.png');
	background-repeat: no-repeat;
	background-size: 100vw

  }
.portfolio-1 {
	border-radius: 10px;
	background-color: #DA6B4C;
	box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.117);
}
.read-time {
	border:1px solid rgba(255, 255, 255, 0.746);
	border-radius: 3rem;
	font-weight: bold!important;
	background-color:rgba(255, 255, 255, 0.438);
}

.button-portfolio {
	border-radius: 4px;
	background-color: white;
	box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.117);
	border: none;
	color: black;
	text-align: center;
	font-size: 18px;
	width: fit-content;
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.button-portfolio::after {
	content: '→';
	position: absolute;
	background-color: white;
	color: black;
	opacity: 0;
	top: 8px;
	padding-right: 10px;
	right: 0px!important;
	transition: 0.5s;
  }

  .button-portfolio:hover{
	padding-right: 30px;
	background-color: white;
	color: black;
	padding-left:8px;
  }

  .button-portfolio:hover:after {
	opacity: 1;
	right: -20px;
  }

  .project-1 {
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
	padding-bottom: 3rem;
	padding-top: 3rem;
  }

  ol li::marker {
	color: #334436;
	font-weight: 800;
	font-size: 20px;
  }
  .results {
	font-size: 1.2em;
   list-style-image: url('/images/check-square-fill.png');
   list-style-position: outside;
}
.results::marker{
   list-style-position: outside;
   line-height: .1;
   color: #DA6B4C;
}

.fitshare-ol li::marker {
	color: #29489b;
	font-weight: 800;
	font-size: 20px;

}
.fitshare-target{
	box-shadow: 0px 6px 6px rgb(0 0 0 / 10%);
}

.empathymap li::marker{
	display: none !important;
}
/* .relicrhymes-ol li::marker {
	color: #ffba08;
	font-weight: 800;
	font-size: 20px;

} */

.other-works-box {
	transition: transform .2s;
}

.other-works-box:hover {
	-ms-transform: scale(0.9); /* IE 9 */
  -webkit-transform: scale(0.9); /* Safari 3-8 */
  transform: scale(0.9);
}
@media screen and (max-width: 1024px) {
	.bento-box {
		display: none;
	}
}
@media (min-width: 1025px) {
	.bento-box-mobile {
		display: none;
	}

}
  @media screen and (max-width: 600px) {
	.project-1 {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 86%, 0 100%);
		padding-bottom: 8rem;
		padding-top: 3rem;
	  }

	  .project-1-para {
		margin: 0 !important;
		padding: 0 !important;
	  }

	  .underline  hr {
		width: 30%!important;
	  }

	  .project-image {
		width: 100% !important;
	  }

  }

/* .hero-text>span, .hero-h1 {
	padding-left: 8vh;

} */

/* @media screen and (max-width: 600px) {
	.wrapper .static-txt {
		font-size: 30px;
		color: black;
		font-weight: 600;
		line-height: 80px;
	}

	.wrapper .dynamic-txts {
		margin-left: 1px;
		line-height: 80px;
		height: 90px;
		overflow: hidden !important;
	}

	.dynamic-txts li{
		list-style: none;
		color: #ffbf69;
		font-size: 30px;
		font-weight: 600;
		top: 0;
		position: relative;
		animation: slide 20s steps(5)
		infinite;
	}
  } */

/* Footer CSS */
footer {
	background-color: #101319;
}
.rounded-social-buttons {
	text-align: center;
  }

  .rounded-social-buttons .social-button {
	display: inline-block;
	cursor: pointer;
	padding: 1px 12px;
	border: 0.125rem solid transparent;
	text-decoration: none;
	text-align: center;
	color: #fefefe;
	font-size: 25px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 3.3rem;
	transition: all 0.5s ease;
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
  }

  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
	-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
			transform: rotate(360deg);
  }

  .rounded-social-buttons .fa-linkedin,.fa-instagram {
	font-size: 30px;
  }
  .rounded-social-buttons .social-button.linkedin {
	background: #80b918;
  }

  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
	color: #80b918;
	background: #fefefe;
	border-color: #fefefe;
  }
  .rounded-social-buttons .social-button.instagram {
	background: #80b918;
  }

  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
	color: #80b918;
	background: #fefefe;
	border-color: #fefefe;
  }
