body {
	font-family: "Lato", sans-serif;
	background-color: #f8f9fa!important;
}

.nav-link {
	font-weight: 600;
}

.navbar-light .navbar-toggler {
	border: none;
}

.navbar-light .navbar-toggler-icon {
	color: #ffbf69 !important;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {

  transition: all .5s;
}
nav ul li a:hover {
  color: white !important;
}

div.circle ul li a {
	position: relative;
	overflow: hidden;
	z-index: 1;
  }
  div.circle ul li a:after {
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '.';
	color: transparent;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background: #ffbf69;
  }
  div.circle ul li a:hover:after {
	-webkit-animation: circle 1.5s ease-in forwards;
  }

  /* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #ffbf69;
    border-radius: 100%;
  }
  100% {
    background: #ffbf69;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}

/* Hero Section */
/* .wrapper {
	display: flex;
}

.wrapper .static-txt {
	font-size: 30px;
	color: black;
	font-weight: 600;
	line-height: 80px;
}

.wrapper .dynamic-txts {
	margin-left: 1px;
	line-height: 80px;
	height: 90px;
	overflow: hidden !important;
}

.dynamic-txts li{
	list-style: none;
	color: #ffbf69;
	font-size: 30px;
	font-weight: 600;
	top: 0;
	position: relative;
	animation: slide 20s steps(5)
	infinite;
}

@keyframes slide {
	100%  {
		top: -400px;
	}
}

.dynamic-txts li {
	position: relative;
}

.dynamic-txts li::after {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #f8f9fa;
	border-left: 2px solid #ffbf69;
	animation: typing 4s steps(10)
	infinite;
}

@keyframes typing {
	40%,
	60% {
		left: calc(100% + 30px);
	}
	100% {
		left: 0;
	}
}

.hero-image {
	align-items: center;
} */


.hero-h1 {
	color: black;
	font-size: 40px;
}

.hero-h1 span {
	color: #ffbf69!important;
}

/* @media screen and (max-width: 600px) {
	.wrapper .static-txt {
		font-size: 30px;
		color: black;
		font-weight: 600;
		line-height: 80px;
	}

	.wrapper .dynamic-txts {
		margin-left: 1px;
		line-height: 80px;
		height: 90px;
		overflow: hidden !important;
	}

	.dynamic-txts li{
		list-style: none;
		color: #ffbf69;
		font-size: 30px;
		font-weight: 600;
		top: 0;
		position: relative;
		animation: slide 20s steps(5)
		infinite;
	}
  } */

/* Footer CSS */
footer {
	background-color: black;
}
.rounded-social-buttons {
	text-align: center;
  }

  .rounded-social-buttons .social-button {
	display: inline-block;
	cursor: pointer;
	padding: 1px 12px;
	border: 0.125rem solid transparent;
	text-decoration: none;
	text-align: center;
	color: #fefefe;
	font-size: 25px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 3.3rem;
	transition: all 0.5s ease;
	margin-right: 0.25rem;
	margin-bottom: 0.25rem;
  }

  .rounded-social-buttons .social-button:hover, .rounded-social-buttons .social-button:focus {
	-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
			transform: rotate(360deg);
  }

  .rounded-social-buttons .fa-linkedin,.fa-instagram {
	font-size: 30px;
  }
  .rounded-social-buttons .social-button.linkedin {
	background: #ffbf69;
  }

  .rounded-social-buttons .social-button.linkedin:hover, .rounded-social-buttons .social-button.linkedin:focus {
	color: #ffbf69;
	background: #fefefe;
	border-color: #fefefe;
  }
  .rounded-social-buttons .social-button.instagram {
	background: #ffbf69;
  }

  .rounded-social-buttons .social-button.instagram:hover, .rounded-social-buttons .social-button.instagram:focus {
	color: #ffbf69;
	background: #fefefe;
	border-color: #fefefe;
  }
