body {
	font-family: "Lato", sans-serif;
	background-color: #f8f9fa!important;
}

.nav-link {
	font-weight: 600;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {

  transition: all .5s;
}
nav ul li a:hover {
  color: white !important;
}

div.circle ul li a {
	position: relative;
	overflow: hidden;
	z-index: 1;
  }
  div.circle ul li a:after {
	display: block;
	position: absolute;
	margin: 0;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '.';
	color: transparent;
	width: 1px;
	height: 1px;
	border-radius: 50%;
	background: #ffbf69;
  }
  div.circle ul li a:hover:after {
	-webkit-animation: circle 1.5s ease-in forwards;
  }

  /* Keyframes */
@-webkit-keyframes circle {
  0% {
    width: 1px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 1px;
    z-index: -1;
    background: #ffbf69;
    border-radius: 100%;
  }
  100% {
    background: #ffbf69;
    height: 5000%;
    width: 5000%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 0;
  }
}